<md-list>

    <md-subheader>
    Passos
    <md-button ng-click="hideSteps = !hideSteps" class="{{hideSteps ? 'md-primary':'md-warn'}}">
        {{hideSteps ? 'exibir' : 'ocultar'}}</md-button>
    </md-subheader>

    <md-list-item  ng-show="!hideSteps">

        <div class="passos-algoritmo">
            <!-- realça o passo selecionado de acrodo com a execução do algoritmo -->
            <div ng-repeat="step in algoritmoSelecionado.steps" ng-class="{'line-hover': passoAtual === $index}">
                <span class="passo">{{$index + 1}}: {{step}}</span>
            </div>
        </div>

    </md-list-item>

    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky" ng-if="algoritmoSelecionado.usaPilha">Pilha</md-subheader>
    <md-list-item ng-if="algoritmoSelecionado.usaPilha">
        <div class="md-list-item-text" flex layout="row">
            {{pilha}}
        </div>
    </md-list-item>
    <md-divider ng-if="algoritmoSelecionado.usaPilha"></md-divider>

    <md-subheader class="md-no-sticky" ng-if="algoritmoSelecionado.usaFila">Fila</md-subheader>
    <md-list-item ng-if="algoritmoSelecionado.usaFila">
        <div class="md-list-item-text" flex layout="row">
            {{fila}}
        </div>
    </md-list-item >
    <md-divider ng-if="algoritmoSelecionado.usaFila"></md-divider>

    <md-subheader class="md-no-sticky">Solução</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" flex layout="row">
            {{resultado}}
        </div>
    </md-list-item>
    <md-divider ></md-divider>
</md-list>





