<md-button class="md-fab md-icon-button md-primary" aria-label="Play" ng-click="runAlg()">
    <md-icon>play_arrow</md-icon>
</md-button>

<md-button ng-click="hideSteps = !hideSteps" class="{{hideSteps ? 'md-primary':'md-warn'}}">
    {{hideSteps ? 'exibir' : 'ocultar'}} passos
</md-button>


<div ng-show="!hideSteps" class="passos-algoritmo">
    <h4>Passos</h4>

    <!-- realça o passo selecionado de acrodo com a execução do algoritmo -->
    <div ng-repeat="step in algoritmoSelecionado.steps" ng-class="{'line-hover': selectedStep === $index}">
        <span class="passo">{{$index + 1}}: {{step}}</span>
    </div>
</div>



<div>
    <!--<md-button class="md-icon-button">-->
        <!--<md-icon>skip_previous</md-icon>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button">-->
        <!--<md-icon>fast_rewind</md-icon>-->
    <!--</md-button>-->



    <!--<md-button class="md-icon-button" ng-click="nextStep()">-->
        <!--<md-icon>fast_forward</md-icon>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button">-->
        <!--<md-icon>skip_next</md-icon>-->
    <!--</md-button>-->

    <div ng-show="result.length ">
        <h1>Result</h1>

        <p>{{algoritmoSelecionado.result}}</p>
    </div>

</div>



