<div layout="column" style="position: relative">
    <div layout="row">
        <graph></graph>
    </div>
    <div style="position: absolute; bottom: 30px; right: 30px;">


        <md-fab-speed-dial md-open='fab.isOpen' md-direction="up" ng-class="'md-scale'">

           <md-fab-trigger>
               <md-button aria-label="menu" class="md-fab md-warn" ng-click="toggleFab()">
                   <md-icon>{{currentOption.icon}}</md-icon>
               </md-button>
           </md-fab-trigger>


           <md-fab-actions>

               <md-button class="md-fab md-mini " ng-click="setSelected(fabOptions.add)">
                   <md-tooltip>
                       {{fabOptions.add.name}}
                   </md-tooltip>
                   <md-icon>{{fabOptions.add.icon}}</md-icon>
               </md-button>

               <md-button class="md-fab md-mini " ng-click="setSelected(fabOptions.remove)">
                   <md-tooltip>
                       {{fabOptions.remove.name}}
                   </md-tooltip>
                   <md-icon>{{fabOptions.remove.icon}}</md-icon>
               </md-button>

               <md-button class="md-fab md-mini " ng-click="setSelected(fabOptions.select)">
                   <md-tooltip>
                       {{fabOptions.select.name}}
                   </md-tooltip>
                   <md-icon>{{fabOptions.select.icon}}</md-icon>
               </md-button>

               <md-button class="md-fab md-mini " ng-click="setSelected(fabOptions.info)">
                   <md-tooltip>
                       {{fabOptions.info.name}}
                   </md-tooltip>
                   <md-icon>{{fabOptions.info.icon}}</md-icon>
               </md-button>

           </md-fab-actions>

       </md-fab-speed-dial>

    </div>
</div>

